$background-color-primary: #df2626;
$background-color-secondary: #ffce00;
$background-color-third: #000;

$path-to-logo-image: '../images/logo.svg';
$path-to-small-logo-image: '../images/logo-small.svg';
$path-to-arrow-image: '../images/arrow.svg';
$path-to-menu-image: '../images/menu.svg';
$path-to-close-image: '../images/close.svg';

$primary-font: Roboto, Arial, sans-serif;
