.findorders__title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 107px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  max-width: 527px;
  grid-area: title;

  @include portrait-tablet {
    padding-top: 0;
    padding-bottom: 60px;
  }

  @include phone {
    font-size: 32px;
    line-height: 38px;
  }
}
