.composition__image {
  max-width: 642px;
  grid-area: photo;

  @include medium-desktop {
    width: 500px;
  }

  @include medium-desktop {
    width: 480px;
  }

  @include large-tablet {
    width: 400px;
  }

  @include portrait-tablet {
    max-width: 688px;
    width: 100%;
    padding-bottom: 60px;
  }
}
