.feedback {
  max-width: 526px;
  padding-top: 130px;
  padding-bottom: 50px;

  @include portrait-tablet {
    max-width: 100%;
    border-bottom: 1px solid #fff;
    padding-top: 60px;

    &:last-child {
      border-bottom: none;
    }
  }

  @include phone {
    font-size: 24px;
    line-height: 26px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

