.composition__paragraph {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  max-width: 400px;
  grid-area: paragraph;

  @include phone {
    font-size: 14px;
    line-height: 18px;
  }
}

.composition__paragraph:first-child {
  padding-bottom: 36px;
}
