.signup-form__input {
  border: 2px solid #000;
  padding: 13px 20px 10px 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .38px;
  border-radius: 8px 0 0 8px;
  display: block;
  width: 350px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  @include large-phone {
    width: 175px;
  }

  @include phone {
    width: 175px;
    font-size: 11px;
  }
}
